* {
    margin: 0%;
    padding: 0%;
}

html,
body {
    width: 100%;
    height: 100%;
}

#main {
    height: 100%;
    width: 100%;
}

#header {
    height: 13%;
    width: 100%;
    background-color: white;
    position: fixed;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

#dummyheader {
    height: 13%;
    width: 100%;
    background-color: rgb(5, 50, 50);
}

#logo {
    height: 70%;
    object-fit: cover;
    margin-bottom: 10px;
}

#logo img {
    height: 100%;
    width: 100%;
    margin: 11px;
}

#contactdetails {
    text-align: center;
}

#page1 {
    height: 87%;
    width: 100%;
    background-color: rgb(61, 17, 101);
}

#page2 {
    height: 87%;
    width: 100%;
    background-color: rgb(81, 53, 18);
}

.texts {
    margin: 10px;
    color: rgb(7, 7, 177);
    padding: 5px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#contactdetails {
    font-weight: lighter;
    color: rgb(7, 7, 177);
}

.icon {
    margin: 12px;
    color: rgb(7, 7, 177);
    padding: 10px;
    border-radius: 50%;
}

#try {
    margin: 10px;
    background-color: rgb(37, 130, 37);
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
}

#login {
    color: rgb(7, 7, 177);
    padding: 5px 10px;
    border-radius: 10px;
}

#login:hover {
    background-color: rgb(198, 238, 251);
    color: blue;
}

.icon:hover {
    background-color: rgb(198, 238, 251);
    color: blue;
}

#try:hover {
    background-color: rgb(4, 26, 4);
}

#contactdetails:hover {
    color: blue;
}

.texts:hover {
    color: rgb(40, 168, 194);
}

#strip {
    height: 8%;
    background-color: rgb(37, 6, 130);
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#strip p {
    margin-left: 15px;
}

#strip p :hover {
    color: rgb(31, 106, 197);
}

#content {
    height: 70%;
    background-color: white;
}

#footer {
    height: 25%;
    background-color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    font-weight: 600;
    color: rgb(10, 10, 114);
}

#content {
    display: flex;
}

#box1 {
    width: 40%;
    background-color: white;
    margin: 30px;
    margin-right: 50px;
}

#box2 {
    width: 60%;
}

#box2 img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

#box1 p1 {
    color: rgb(8, 8, 149);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: xx-large;
    margin-top: 150px;
}

#box1 p {
    margin-top: 30px;
    padding: 20px;
    padding-left: 0%;
    font-size: large;
}

#button {
    height: 10%;
    display: flex;
    margin-top: 80px;
}

#bt1 {
    height: 30px;
    width: 100px;
    border-radius: 5px;
    background-color: blue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 15px;
}

#bt2 {
    height: 30px;
    width: 100px;
    border-radius: 5px;
    border: blue solid;
    align-items: center;
    justify-content: center;
    padding: 8px 15px;
    margin-left: 12px;
    display: flex;
    color: blue;
}

#bt1:hover {
    background-color: rgb(5, 5, 59);
}

#bt2:hover {
    color: rgb(3, 3, 58);
    border-color: rgb(4, 4, 59);
}